{% extends 'HamsterHubBundle:Base:index.html.twig' %}

{% block container %}
<h1>Vidéos de {{ user.username }}</h1>
{% for liens in videos %}

<div class="video">
  <div class="titre"><span>{{ liens.name }}</span></div>
    <figure>
        <div class="video-wrapper">
            <iframe width="560" height="315" src="{{ liens.url }}" allowfullscreen></iframe><br>
        </div>
        <table class="tab">
            <tr>
                <td><label class="user">Posté par </label></td>
                <td><div class="user-post"><a href="/myVideo/{{ liens.user }}">{{ liens.user }}</a></div></td>
            </tr>
            <tr>
                <td><label class="date">Date: </label></td>
                <td><div class="date-post">{{ liens.date|date("d/m/Y") }}</div></td>
            </tr>
        </table>

        <figcaption>{{ liens.description }}</figcaption>
    </figure>
    {% if ((is_granted("IS_AUTHENTICATED_REMEMBERED")) or (is_granted("IS_AUTHENTICATED_FULLY"))) %}
      {% if (is_granted('ROLE_ADMIN')) or (( liens.user ) == ( app.user.username )) %}
        <form id="delete" method="post">
          <input type="hidden" name="id" value="{{ liens.id }}">
          <input type="submit" name="delete" value="Supprimer">
        </form>
      {% endif %}
      {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': liens.id} %}
    {% endif %}
</div>

{% endfor %}

{% endblock %}
