{% extends 'HamsterHubBundle:Base:index.html.twig' %}

{% block container %}

{% for liens in videos %}

  <div id="{{ liens.id }}">
    <h1>{{ liens.name }}</h1>
    de <a href="/myVideo/{{ liens.user }}">{{ liens.user }}</a> le {{ liens.date|date("d/m/Y") }}<br>
    <a href="/video/{{ liens.id }}">
      <figure>
        <img src="{{ liens.thumbnail }}" alt="{{ liens.name }}"><br>
        <figcaption>{{ liens.description }}</figcaption>
      </figure>
    </a>


    {% if ((is_granted("IS_AUTHENTICATED_REMEMBERED")) or (is_granted("IS_AUTHENTICATED_FULLY"))) %}
      {% if (is_granted('ROLE_ADMIN')) or (( liens.user ) == ( app.user.username )) %}
        <form id="delete" method="post">
          <input type="hidden" name="id" value="{{ liens.id }}">
          <input type="submit" name="delete" value="Supprimer">
        </form>
      {% endif %}
    {% endif %}
  </div><br><br>

{% endfor %}

{% endblock %}
